.util_span_conten_icon {
  display: inline-block;
  width: 32px;
  min-width: 32px;
  height: 32px;

  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border: none;
}

.util_color-green {
  color: var(--color-green-100);
}


.util_btn_content_icon {
  display: inline-block;
  width: 32px;
  min-width: 32px;
  height: 32px;

  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border: none; 

  & :where(svg) {
    color: #ffffff;

    &:hover {
      color: #00dc82;
      cursor: pointer;
    }
  }
}
