:root {
  --color-background-main: #020420;

  --color-gray-100: #94a3b8;
  --color-gray-200: #1c1c1d;
  --color-gray-300: #ffffff97;
  --color-gray-400: #F1F5F9;

  --color-green-100: #00dc82;
  --color-white-100: #ffffff;

  --color-blue-100: #1E293B;

  
}
